.hero{
    width: auto;
    height: 50vh;
    background-image: url(../img/Portada/Portada\ de\ pagina.png);
    background-repeat: round;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/*------Hero------*/
.hero_text{
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgba(172, 166, 166, 0.616);
    border-radius: 20px;
    width: 80%;
}
.img{
    width: 95%;
    width: 100px;
    height: 700px;
}
@media (max-width:500px){
    .hero{
        height: 30vh;
    }
.hero_text{
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgba(47, 78, 216, 0.616);
    border-radius: 10px;
    width: 90%;
}
}
/*----------articulos ----*/
.articulo{
    color: white;
    border-radius: 5px;
    text-align: center;
}
.articulo_img1{
    width: 100%;
    height: auto;
}
.articulo_img2{
    width: 90%;
    height: 30vh;
}
footer{
    background-color: rgba(0, 0, 255, 0.137);
}
/*-----------Galeria de fotos ----------*/
#galeria .col-lg-4 {
    margin: 0;
    padding: 25px;
}
#galeria img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
#galeria img:hover{
    border: 5px solid white;
    border-radius: 20px;
}